*{
    margin: 0;
}

html, body{
    font-family: 'Roboto', sans-serif;
}
#albumContainer {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .albumCard {
    background-color: white;
    width: 31%;
    margin: 1%;
    box-shadow: 10px 10px;
    outline: 1px solid lightblue;
}

.tourHeading {
    text-align: center;
}

#tour {
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
 

   
 
}  
